*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url(nature-3082832_1920.jpg);
    background-size:auto; 
    /* background-position: center; */
    background-repeat: no-repeat; /* Do not repeat the image */
    margin: 0; 
    padding: 0;
}
.card{
    width: 90%;
    max-width: 470px;
    background-color: rgba(23, 22, 22, 0.5);
    color: white;
    /* background: linear-gradient(135deg,#e3ab50,#5b548a); */
    /* background-image: url(background.jpg); */
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.space{
    margin: 10px;
}
.spacer {
    margin-bottom: 25px; /* Add some space between CloudWatch and the search bar */
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    width: 100%;
}
.search-input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    width: 100%;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;

}
.search button img{
    width: 16px;
}
.wheather-icon{
width: 170px;
margin-top:30px;
}
.wheather h1{
    font-size: 80px;
    font-weight: 500;
}
.wheather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top:-10px ;
}
.deatils{
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 20px;
margin-top: 50px;

}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top:-6px ;
} 
.wheather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
footer {
    background-color: rgba(23, 22, 22, 0.5);
    color: rgb(226, 246, 226);
    text-align: center; 
    padding: 5px 0; 
    position: fixed; 
    width: 100%;
    bottom: 0; 
    
} 

.text {
    font-size: 48px;
    font-weight: bold;
    color: #d9f4ba;
    transform-style: preserve-3d; /* Preserve 3D transformations */
    position: relative;
    transition: transform 0.5s; /* Add transition for smooth effect */
}

/* Media Queries */

/* For small screens (mobile phones) */
@media only screen and (max-width: 600px) {
    .card {
        width: 90%;
        padding: 20px;
    }

    .wheather h1 {
        font-size: 50px;
    }

    .wheather h2 {
        font-size: 30px;
    }

    .deatils {
        flex-direction: column;
    }

    .col {
        margin-bottom: 20px;
    }

    .col img {
        width: 30px;
    }

    .humidity,
    .wind {
        font-size: 18px;
    }

    .search button {
        width: 50px;
        height: 50px;
    }

    .search button img {
        width: 14px;
    }
}

/* For medium screens (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .card {
        width: 70%;
    }
}